.header-kinerja-kanan-cluster {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  /* background-color: rgb(242, 108, 87); */
  background-color: #2d0dfa;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  /* overflow: scroll; */
}
.header-kinerja-cluster {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  /* background-color: rgb(242, 108, 87); */
  background-color: #fa0d38;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  /* overflow: scroll; */
}
.card-kinerja-cluster {
  height: 525px;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  margin-bottom: 7px;
  /* margin-left: -10px;
  margin-right: -10px; */
  /* background-color: #f1f4f6; */
  border: 1px dotted rgb(126, 63, 243);
  border-radius: 5px;
}
.card-kinerja-ikpa-cluster {
  height: 525px;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  margin-bottom: 7px;
  /* margin-left: -10px;
  margin-right: -10px; */
  /* background-color: #f1f4f6; */
  border: 1px dotted rgb(126, 63, 243);
  border-radius: 5px;
}
