/* styles.css */
.epa-table thead th {
  vertical-align: middle !important;
  text-align: center; /* Opsional: Agar teks header lebih rapi */
}
.point {
  vertical-align: middle !important;
  text-align: left; /* Opsional: Agar teks header lebih rapi */
}
/* di file CSS kamu, misal tableEpa.css */
.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
