.sticky-header {
  background-color: aliceblue;
}
@supports (position: sticky) {
  .is-sticky {
    position: sticky;
    top: 50px;
    z-index: 1;
  }
}
.sticky-header-program {
  background-color: #ffffff;
}
@supports (position: sticky) {
  .is-sticky-program {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
.null {
  color: red;
  text-align: center;
  margin-top: 30%;
}
/* Dalam file CSS Anda atau dalam tag <style> di komponen Anda */
.dual-charts-container {
  display: flex;
  justify-content: space-between;
}

.chart {
  width: 50%; /* Setengah dari lebar kontainer */
}
